<?php
/**
 * Fact Finder
 */
use SprykerEco\Shared\FactFinderSdk\FactFinderSdkConstants;

$config[FactFinderSdkConstants::ENVIRONMENT] = FactFinderSdkConstants::ENVIRONMENT_PRODUCTION;
$config[FactFinderSdkConstants::ENVIRONMENT . FactFinderSdkConstants::ENVIRONMENT_PRODUCTION] = [
    'debug' => true,
    'requestProtocol' => 'http', //https
    'serverAddress' => 'partner3.fact-finder.de',
    'port' => '80',
    'context' => 'Context',
    'channel' => 'test',
    'language' => 'de',
    'authenticationType' => 'advanced',
// This is another possible option for authentication type
//   'authenticationType' => 'manual',
    'userName' => 'user',
    'password' => 'change123',
    'authenticationPrefix' => 'FACT-FINDER',
    'authenticationPostfix' => 'FACT-FINDER',
    'clientMappings' => [],
    'serverMappings' => [],
    'ignoredClientParameters' => [],
    'ignoredServerParameters' => [],
    'whitelistClientParameters' => [],
    'whitelistServerParameters' => [],
    'requiredClientParameters' => [],
    'requiredServerParameters' => [],
    'defaultConnectTimeout' => 2,
    'defaultTimeout' => 4,
    'suggestConnectTimeout' => 2,
    'suggestTimeout' => 2,
    'trackingConnectTimeout' => 1,
    'trackingTimeout' => 2,
    'importConnectTimeout' => 10,
    'importTimeout' => 360,
    'pageContentEncoding' => 'UTF-8',
    'clientUrlEncoding' => 'UTF-8',
    FactFinderSdkConstants::ADMIN_PANEL_URL => 'http://partner3.fact-finder.de/Spryker-UI/index.html',
];

$config[FactFinderSdkConstants::CSV_DIRECTORY] = APPLICATION_ROOT_DIR . '/public/Zed/assets/fact_finder/';
$config[FactFinderSdkConstants::EXPORT_QUERY_LIMIT] = 1000;
$config[FactFinderSdkConstants::EXPORT_FILE_NAME_PREFIX] = 'product';
$config[FactFinderSdkConstants::EXPORT_FILE_NAME_DELIMITER] = '_';
$config[FactFinderSdkConstants::EXPORT_FILE_EXTENSION] = '.csv';
$config[FactFinderSdkConstants::PHP_LOGGER_CONFIG_PATH] = APPLICATION_ROOT_DIR . '/config/Shared/log4php.xml';
$config[FactFinderSdkConstants::CHANNEL_PREFIX] = '';
$config[FactFinderSdkConstants::DEFAULT_PRODUCTS_PER_PAGE] = 20;
$config[FactFinderSdkConstants::CATEGORIES_MAX_COUNT] = 4;

$config[FactFinderSdkConstants::ITEM_FIELDS] = [
    FactFinderSdkConstants::ITEM_MASTER_ID,
    FactFinderSdkConstants::ITEM_PRODUCT_NUMBER,
    FactFinderSdkConstants::ITEM_NAME,
    FactFinderSdkConstants::ITEM_PRICE,
    FactFinderSdkConstants::ITEM_STOCK,
    FactFinderSdkConstants::ITEM_CATEGORY_1,
    FactFinderSdkConstants::ITEM_CATEGORY_2,
    FactFinderSdkConstants::ITEM_CATEGORY_3,
    FactFinderSdkConstants::ITEM_CATEGORY_4,
    FactFinderSdkConstants::ITEM_CATEGORY_PATH,
    FactFinderSdkConstants::ITEM_PRODUCT_URL,
    FactFinderSdkConstants::ITEM_IMAGE_URL,
    FactFinderSdkConstants::ITEM_DESCRIPTION,
];